

.button-box{
    background-color: white;
    width: 800px;
    height: 36px;
    margin-left: 330px;
    margin-top: 3%;
    padding-top: 16px;
    border-radius: 5px;
    

    
}

.button-color:hover {
    background-color: rgb(117, 177, 255);
  }



  .menu-box{
    background-color: white;
    width: 800px;
    height: 450px;
    margin-left: 330px;
    margin-top: 1px;
    border-radius: 5px;
    
  }



  #margin-button{
    margin-left: 20px;
  }

  .bg-main {
    background-color: rgb(231, 229, 229);
    width: 1356px;
    height: 846px;
    padding-top: 10px;
    padding-bottom: 31px;
}


  .text-margin{
    margin-left: 20px;
  }

  .font-size-summary{

    font-size: larger;
  }




#editorial-box{
    width: 50px;
    height: 12px;
    background-color: rgb(107, 107, 235);
    color: white;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    display: inline-block;
    text-align: center;
}


#q1-goals-box{
    width: 50px;
    height: 12px;
    background-color: rgb(255, 118, 118);
    color: white;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    display: inline-block;
    text-align: center;

}

#recruiting-box{
    width: 50px;
    height: 12px;
    background-color: rgb(88, 228, 99);
    color: white;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    display: inline-block;
    text-align: center;

}


#mobile-box{
    width: 50px;
    height: 12px;
    background-color: rgb(199, 197, 99);
    color: white;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    display: inline-block;
    text-align: center;

}


#website-box{
    width: 50px;
    height: 12px;
    background-color: rgb(168, 18, 18);
    color: white;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    display: inline-block;
    text-align: center;

}



#sales-box{
    width: 50px;
    height: 12px;
    background-color: rgb(45, 37, 168);
    color: white;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    display: inline-block;
    text-align: center;

}

.check-border{
    color: rgb(0, 255, 0);
    border-style: solid;
    border-radius: 50%;

}

.X-border{
    color: rgb(255, 0, 0);
    border-style: solid;
    border-radius: 50%;

}

#font-family{
    font-family: Arial, Helvetica, sans-serif;
}